h1{
    color: rgb(2, 12, 1);
}
h3{
    color: rgb(24, 1, 20);
}
body{
    background-image: url(image3.webp);
    background-size: cover;
    -webkit-background-size:cover;
    font-family: poppins;
}
.box{
    width: 500px;
    height: 450px;
    margin: 60px auto 0;
    background: rgba(0,0,0,0,6);
    text-align: center;
    padding: 35px;
    border: 3px solid #fff;
    border-radius: 70px 0,70px,0;
}
.btn{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgb(255, 20, 243);
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 5px;
}