body{
    background: url(liveimage.jpg);
    background-size: 100%; 
    margin: 0px auto;
    padding: 0px;
    font-family: sans-serif; 
    overflow: hidden;   
}
#logo img{
    width:100px;
    padding: 30px 0px 0px 30px;
}
.panel{
    width: 100%;
    margin-top: 33.5em;
}
.panel .p-left{
    width: 230px;
    height: 70px;
    background: linear-gradient(#eff1f0,#c1c2c4,#a1a4a7);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px ;
    float: left;
}
.panel .p-left img{
    width: 32%;
    float: right;
    padding: 13px 30px 0px 0px;

}
.panel .p-mid{
    width: 945px;
    height: 70px;
    background: linear-gradient(#eff1f0,#c1c2c4,#a1a4a7);
    border-radius: 50px;
    float: left;
}
.panel .p-mid .players{
    float: left;
}
.panel .p-mid img{
    width: 15px;
    padding: 16px 0px 0px 50px;
}
.panel .p-mid p{
    color: #2a2d6a;
    font-size: 14px;
    font-weight: 600;
    margin-top: -20px;
    padding: 1px 0px 10px 72px;
}
.panel .p-mid .run{
    float: left;
    padding-top: 36px;
}
.panel .p-mid .ining{
    background: #1e216f;
    width: 300px;
    border-radius: 50px;
    height: 67px;
    margin: 1.5px 0px 0px 60px;
    float: left;
}
.panel .p-mid .ining p{
    padding: 30px 0px 0px 17px;
    font-size: 20px;
    font-weight: 600px;
    color: #85a5a2;
}
#india{
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}
#run-wicket{
    color: #fff;
    font-size: 22px;
    background: linear-gradient( to right, rgba(133,29,82,.0), #e31857);
    padding: 2px 10px 2px 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -20px;
    font-weight: bold;
}
#p2{
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    background: linear-gradient( to right, rgba(32,67,183,.0), #378bd0);
    padding: 6px 8px 5px 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -10px;
}
#over{
    padding-left: 10px;
    font-weight: normal;
}
#match{
    color: #fff;
    font-size: 12px;
    padding-left: 65px;
    letter-spacing: 1.3px;
}
.balls p{
    float: left;
    padding-top: 35px;
    margin-left: -50px;
    letter-spacing: 1px;
}
.circle{
    width: 18px;
    height: 18px;
    border: 1.5px solid #262239;
    float: left;
    border-radius: 50px;
    margin: -8px 1.3px;  
}
.balls .move p{
    padding-left: 68px;
    margin-top: -10px;
}
#ball-left  p{
    float: left;
    margin: 35px 0px 0px -30px;
    font-size: 22px;
}
.panel .p-mid p:hover{
    color: #e31857;
    cursor: pointer;
    transition: 1.5s;
}
.panel .p-right{
    width: 220px;
    height: 70px;
    background: linear-gradient(#eff1f0,#c1c2c4,#a1a4a7);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    float: right;
}
.panel .p-right img{
    width: 30%;
    padding: 13px 0px 0px 30px;
}